# Astro libraries
astropy==5.1
sunpy==4.0.0

# Data Science Libraries
scikit-learn==1.1.0
numpy==1.23.0
seaborn==0.13.2
matplotlib==3.5.0

# Development Tools
pre-commit==3.5.0

# Additional Dependencies
keyring==23.0.1
distro==1.6.0
oauthlib==3.2.2
urllib3==1.26.6
cryptography>=41.0.5,<43
pyopenssl==24.1.0
